<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Passwords</title>
    </head>
    <body>

        <h1>My passwords</h1>

        <form action="#" th:action="@{/passwords/{user}(user=${user})}" method="POST">
            <p><label for="service">Service</label>: <input type="text" name="service" id="service"/></p>
            <p><label for="username">Username</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="text" name="password" id="password"/></p>
            <p><input type="submit" value="Add a password" /></p>
        </form>

        <h2>Passwords</h2>
        <table>
            <thead>
                <tr>
                    <th>Service</th><th>Username</th><th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="password : ${passwords}">
                    <td th:text="${password.service}">Service</td>
                    <td th:text="${password.username}">Username</td>
                    <td th:text="${password.password}">Password</td>
                </tr>
            </tbody>
        </table>
        <p></p>
    </body>
</html>