<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Passwords</title>
    </head>
    <body>
        <h1>My passwords</h1>
        <p>Please confirm your identity by giving your username and password again.</p>
        <form action="#" th:action="@{/passwords}" method="POST">
            <p><label for="username">Username</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="text" name="password" id="password"/></p>
            <p><input type="submit" value="Check your passwords" /></p>
        </form>
    </body>
</html>